
body {
  padding-top: 0px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar form .form-control {
	width: 100%;
}
#myid1{
	width: 100px;
}
.topbar{
	width:70%;
}
.search{
	width: 45%;
}
.myfield{
	width:89%;
}
.jumbo{
	background-color: #eee;
	border-radius: 6px;
	padding-top: 10px;
    padding-bottom: 10px;

	margin-left: 15px;
	margin-right: 15px;
    margin-top: 15px;
	margin-bottom: 15px;
}
.blog-main{
	padding-left:0px;
}

.input-group-btn .size10{
	width:10%;
}
.maincontainer{
	margin-top: 30px;
}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}

